.intro
  .wrapper
    .title
      Мы создаем
      = "<span class='bolder'>эффективные сайты</span>,"
      %br
      %span.bolder приносящие
      прибыль

    .buttons
      .button.order-button#scroll-to-form-button Заявка на звонок

  .favourite-projects
    %a#scroll-to-first-case{href: '#'}
      Избранные проекты


.cases
  = haml :'cases/kaleva'
  = haml :'cases/rzkm'
  = haml :'cases/mimicase'
  = haml :'cases/marketube'

= haml :form


.video-modal-bg
.video-modal



%script#about-us-video-html{type: 'template'}
  %iframe{src: '//www.youtube.com/embed/WYWaxEEvaPI?rel=0&enablejsapi=1&autoplay=1',
                          width: 853,
                          height: 480, frameborder: 0}

.footer
  .wrapper
    %a{href: '/simple'} Политика конфиденциальности